.célula
{
	text-align:center;
	vertical-align:middle;	
}

.célula span 
{
	color:#FFF;
	background-color:transparent;
	font-size:60px; 
	font-weight:bold;
}

.célula small
{
	color:#FFF;
	background-color:transparent;
	font-size:30px; 
	font-weight:bold;
}

em
{
	color:#F00;
	background-color:transparent;
	font-weight:bold;
}
