@charset "utf-8";

table > thead > tr {
	background-color: #333;
}

table > tbody > tr:nth-child(2n) {
	background-color: #EEE;
}

table > tbody > tr:nth-child(2n + 1) {
	background-color: #FFF;
}

table > tbody > tr:hover {
	background-color: #333;
	opacity: 0.9;
}

table > tbody > tr:hover > th,
table > tbody > tr:hover > td {
	color: #FFF;
}

table > thead > tr > th,
table > tbody > tr > th {
	font-weight: bold;
}

table > thead > tr > td,
table > thead > tr > th,
table > tbody > tr > td,
table > tbody > tr > th {
	padding: 5px;
}

table > thead > tr > th,
table > thead > tr > td {
	color: #FFF;
}

table > tbody > tr > th:not(:first-child),
table > tbody > tr > td:not(:first-child) {
	border-left: 1px;
	border-color: #333;
	border-style: solid;
}

table > thead > tr > th:not(:first-child),
table > thead > tr > td:not(:first-child) {
	border-left: 1px;
	border-color: #FFF;
	border-style: solid;
}

